#navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width: 15%;
  background-color: green;
  display: flex;
  flex-direction: column;
}
#nav header{
  flex-basis: 20%;
  flex-grow: 1;
  flex-shrink: 4;
}
#navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-basis: 80%;
  flex-grow: 4;
  flex-shrink: 1;
}
#navbar ul li{
  border-top: 5px solid black;
  flex-basis: 20%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
}
.nav-link{
  text-decoration: none;
  color: black;
}
#main-doc{
  position: absolute;
  margin-left: 15%;
}
.main-section header{
  font-size: 30px;
}
@media (max-width: 480px) {
   #navbar{
    height:15%;
    width: 100%;
    flex-direction: row;
  }
  #main-doc{
    margin-left: 0%;
    margin-top: 15%;
  }
  #navbar ul {
    display: flex;
    flex-direction: row;
  }
  #navbar ul li{
    border-top: 0px;
    border-left: 5px solid black;
    text-align: center;
  }
}
